.about {
  font-family: "Josefin Sans";
  text-align: center;
  margin:auto;
  margin-top: 9rem;
  width: 80%;

  &__main{
    @include breakpoint-up(medium){
      display: inline-flex;
    }
  }

  &__img{
    @include breakpoint-up(medium){
      margin-left: 8rem;
    }
  }

  &__maindetail{
    @include breakpoint-up(medium){
      text-align: left;
    margin-left: 5rem;
    width: 40%;
    }
  }

  &__detail {
    font-weight: 400;
    margin: 2rem auto ;
  }
  &__btn {
    color: white;
    background: $mediumBlue;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    align-items: center;
    display: inline-flex;
    width: 14rem;
    justify-content: center;
    height: 2.5rem;
  }
}
