.footer {
  @include pageSpace;
  padding-bottom: 5rem;
  background: $mediumBlue;
  color: white;

  @include breakpoint-up(medium) {
    text-align: left;
    padding-bottom: 3rem;
  }
  a {
    color: white;
  }
  h1 {
    margin-top: 2rem;
    padding-top: 2rem;

    @include breakpoint-up(medium) {
      display: inline-flex;
      margin: 0;
      padding: 0;
      margin-left: 10rem;
    }
  }
  h4 {
    text-underline-offset: 0.5rem;
    cursor: pointer;

    @include breakpoint-up(medium) {
      margin-left: 1rem;
    }
  }

  &__main {
    @include breakpoint-up(medium) {
      display: inline-flex;
      width: 65%;
      justify-content: flex-end;
    }
  }

  &__icons {
    @include breakpoint-up(medium) {
      margin-left: 10rem;
    }
  }
}
