*{
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans, Alata,Josefin Slab, Montserrat";
  margin: 0;
  background: $veryLightBlue;

}

a{
  text-decoration:none;
  color: black;
}
.hide-for-desktop{
  @include breakpoint-up(medium){
    display: none;
  }
}

.hide-for-mobile{
  @include breakpoint-down(small){
      display: none;
  }
}