// 640px, 1024px, 1400px
$breakpoints-up: (
  "medium": "56.26em",
  "large": "64em",
  "xlarge": "87.5em",
);

// 639px, 1023px, 1399px
$breakpoints-down: (
  'xsmall':'30.29em',
  "small": "56.25em",
  "medium": "63.9375em",
  "large": "87.4375em",
);

@mixin breakpoint-up($size) {
  @media (min-width: map-get($breakpoints-up, $size)) {
    @content;
  }
}

@mixin breakpoint-down($size) {
  @media (max-width: map-get($breakpoints-down, $size)) {
    @content;
  }
}

@mixin pageSpace(){
  text-align: center;
  margin: auto;
  margin-top: 9rem;
  font-family: 'Josefin Sans';
}
