.navbar {
  position: sticky;
  top: 2rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid black;
  font-family: Josefin Sans;
  background: #f0efff;
  height: 5rem;
  top: -0.000001rem;
  z-index: 1;

  .d-head {
    padding-left: 2rem;
    font-size: 2rem;
    color: $headingColor;
     display: inline-flex;
  }

  .d-menu {
    display: inline-flex;
    position: absolute;
    right: 0;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    margin-top: 2rem;
    margin-right: 1rem;
  align-items: baseline;


    li {
      margin-right: 1rem;
      text-underline-offset: 0.5rem;
      cursor: pointer;
    }
  }
}

.m-menu {
  width: 100%;
  height: 2.5rem;
  box-shadow: 0 -1px 6px 0 rgb(0, 10, 0);
  bottom: 0;
  position: fixed;
  background-color: $lightBlue;
  transition: 1s ease;
 
}

.m-head {
  display: inline-flex;
  margin-left: 1.5rem;
  font-size: 1.5rem;
  font-family: "Josefin Sans";
  font-weight: 600;
  background: -webkit-linear-gradient($darkBlue, $veryDarkBlue);
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0.6rem;
}

.dashboard {
  display: inline-flex;
  justify-content: flex-end;
  right: 3%;
  position: absolute;
  margin-top: 0.5rem;
  svg {
    margin-right: 1.5rem;
  }
}

.drawer-nav {
  display: none;
}

.navigation {
  list-style: none;
  width: 21.25em;
  justify-content: center;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 0;

  @include breakpoint-down("xsmall") {
    width: 100%;
  }

  li {
    text-align: center;
    display: grid;
    background: white;
    border-radius: 0.5rem;
    width: 6rem;
    height: 6rem;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;

    h4 {
      margin: 0;
      font-family: "Josefin Sans";
      font-weight: 400;
      position: relative;
      top: 0.5rem;
    }
  }
}
