.services{
    @include pageSpace;


    &__detail{
        width: 40%;
        height: 16.6rem;
        display: inline-block;
        border: 1px solid $mediumBlue;
        margin: auto;
        margin-top: 2rem;
        margin-left: 1rem;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        border-radius: 0.5rem;
        box-shadow: 1px 1px 10px $mediumBlue;
        background: white;

        @include breakpoint-down(xsmall){
            width:45%;
            font-size: 0.8rem;
            margin-left: 0;
            box-shadow: 1px 1px 5px $mediumBlue;
        }

        h1{
            font-weight: 400;
            width: 80%;
            margin: 2rem auto;
        }
        h4{
            font-weight: 100;
            color: $darkBlue;
            display: inline-flex;
        }
    }
}