.skills {
  @include pageSpace;

  @include breakpoint-up(medium) {
    width: 80%;
  }

  &__main {
    @include breakpoint-up(medium) {
      width: 100%;
      text-align: left;
      padding-left: 4rem;
    }
  }

  &__detail {
    background: white;
    border: 1px solid $mediumBlue;
    border-radius: 0.5rem;
    width: 80%;
    height: 4rem;
    align-items: center;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    font-size: 2rem;
    font-family: "Josefin Sans";
    display: inline-flex;
    justify-content: flex-start;

    @include breakpoint-up(medium) {
      width: 46%;
      display: inline-flex;
      margin: 0;
      margin-bottom: 1rem;
    }
  }
}
